<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi There!</h2>
    <p>
      Sample mail sent using LuxSci smtp settings. This will be saved in Sent mail too.
    </p>
  </body>
</html>
